Repository testokur/testokur-ui-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
    "*.js": "eslint --cache --fix",
    "*.{js,jsx,css,md}": "prettier --write"
}

babel setup
  .babelrc
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

stylelint setup
  .stylelintrc.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

initial reset css
  .eslintrc.js
  src/base/reset.css
Due: eslint --cache --fix, prettier --write

do not gitignore .vscode
  .gitignore
Due: none

WIP : TextInput
  .eslintrc.js
  .prettierrc
  .prettierrc.json
  .stylelintrc.js
  jest.config.js
  jest.setup.js
  package.json
  src/TextInput/TextInput.js
  src/TextInput/TextInput.test.js
  src/TextInput/index.js
  src/base/reset.css
  src/utils/filterDataAttributes.js
  src/utils/filterDataAttributes.test.js
  src/utils/index.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

vscode settings
  .vscode/settings.json
Due: none

Formatting and Linting fixed
  .babelrc
  .eslintrc.js
  .huskyrc
  .lintstagedrc
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  .prettierrc.json
  .vscode/settings.json
  README.md
  package.json
  src/base/reset.css
  yarn.lock
Due: eslint --cache --fix, prettier --write

run stylelint as well
  .lintstagedrc
  package.json
Due: none

CI script fixed
  .github/workflows/ci.yml
  .nvmrc
  .prettierignore
  .prettierrc
Due: none

Fix CI
  .babelrc
  .github/workflows/ci.yml
  .nvmrc
  babel.config.js
  package.json
Due: eslint --cache --fix, prettier --write

Couple of fixes
  .eslintrc.js
  README.md
  babel.config.js
  jest.config.js
Due: eslint --cache --fix, prettier --write

update stylelint config
  .stylelintrc.js
  babel.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Git commit issue fixed
  src/Base/reset.css
Due: prettier --write

semantic release added
  .releaserc
  package.json
  yarn.lock
Due: none

WIP : Heading
  src/Base/base.css
  src/Base/reset.css
  src/Base/variables.css
  src/Heading/style.css
  src/TextInput/TextInput.js
  src/TextInput/TextInput.test.js
  src/TextInput/index.js
  src/utils/filterDataAttributes.js
  src/utils/filterDataAttributes.test.js
  src/utils/index.js
Due: eslint --cache --fix, prettier --write

WIP: Heading
  .stylelintrc.js
  package.json
  src/Base/variables.css
  src/Heading/elementTypes.js
  src/Heading/heading.js
  src/Heading/heading.test.js
  src/Heading/index.js
  src/Heading/style.css
  yarn.lock
Due: eslint --cache --fix, prettier --write

Test if renders passed props
  src/Heading/elementTypes.js
  src/Heading/heading.js
  src/Heading/heading.test.js
Due: eslint --cache --fix, prettier --write

Fix extensions
  src/Heading/heading.jsx
  src/Heading/heading.test.jsx
Due: prettier --write

Configure airbnb eslint config
  .eslintrc.js
  babel.config.js
  jest.config.js
  package.json
  src/Heading/elementTypes.js
  src/Heading/heading.jsx
  src/Heading/heading.test.jsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

use .json extension for configs
  .huskyrc.json
  .lintstagedrc
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.js
  .stylelintrc.json
Due: eslint --cache --fix, prettier --write

config cleanup
  .babelrc.json
  .lintstagedrc.json
  babel.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

storybook added
  .gitignore
  .lintstagedrc.json
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/Heading/heading.stories.jsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Deploy storybook
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: none

missing storybook-deployer config
  package.json
Due: none

fix gh page deployment
  .github/workflows/ci.yml
Due: none

fix deploy step
  .github/workflows/ci.yml
Due: none

redundant prefix removed
  .github/workflows/ci.yml
Due: none

Badges and coverage
  .github/workflows/ci.yml
  README.md
Due: prettier --write

Coverage Badge
  README.md
Due: prettier --write

a11y support added to storybook
  .storybook/main.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Use postcss
  .github/workflows/ci.yml
  .storybook/main.js
  .storybook/preview.js
  package.json
  postcss.config.js
  src/Base/base.css
  src/Base/generic.css
  src/Base/reset.css
  src/Base/variables.css
  src/Heading/heading.jsx
  src/Heading/heading.stories.jsx
  src/Heading/styles.css
  yarn.lock
Due: eslint --cache --fix, prettier --write

reorginize postcss plugins
  .storybook/main.js
  package.json
  postcss.config.js
  src/Base/index.css
  src/Heading/heading.jsx
  src/Heading/index.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

minor style fixes on Typography
  src/Base/generic.css
  src/Heading/styles.css
Due: prettier --write

Cypress integration
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  cypress.json
  cypress/fixtures/example.json
  cypress/helpers/index.js
  cypress/helpers/load.js
  cypress/helpers/terminalLog.js
  cypress/helpers/visit.js
  cypress/integration/heading.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  postcss.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix lint errors
  .eslintignore
  .eslintrc.js
  README.md
  cypress.json
  cypress/.eslintrc.json
  cypress/helpers/index.js
  cypress/helpers/terminalLog.js
  cypress/helpers/visit.js
  cypress/integration/heading.spec.js
  cypress/plugins/index.js
  cypress/support/index.js
  package.json
  src/Heading/index.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

run visual tests
  .github/workflows/ci.yml
Due: none

ignore cypress tests
  jest.config.js
Due: eslint --cache --fix, prettier --write

fix visual tests
  .github/workflows/ci.yml
Due: none

Do not block CI
  .github/workflows/ci.yml
Due: none
